PORT=4000

# Paths to your RSA key pair
# Generate with:
#   openssl genrsa -out keys/private.pem 2048
#   openssl rsa -in keys/private.pem -pubout -out keys/public.pem
JWT_PRIVATE_KEY_PATH=./keys/private.pem
JWT_PUBLIC_KEY_PATH=./keys/public.pem

# Token expiry durations
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

NODE_ENV=development
DATABASE_URL=
RESEND_API_KEY=re_FYrzWSTc_4RSqUrXCvuNmBm2BKAVAne7J
INVITE_BASE_URL=http://localhost:3000